<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<h1> {{ page_title }} </h1>
<form class="form-inline" method="POST" action="{{ url_for('proccess_search') }}">
    <div class="form-group">
        <div class="input-group">
            <select name=dropdown>
                {% for app in dropdown %}
                <option value="{{app}}">{{app}}</option>"
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
    </div>
</form>
</body>
</html>